<div class="jumbotron">
  <h1 class="display-4">
    <%= @student.first_name %>
    <%= @student.last_name %>
  </h1>
  <p class="lead">
    <%= @student.email %>  | 
    <%= @student.phone %>  |  
    <%= @student.address %>
  </p>
  <br/>
   
<%= link_to 'Back', students_path, class:"btn btn-dark" %>

</div>
